/* body{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F7FC;
} */
.body2{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: #F2F7FC;
}
.nav{
    background-color: antiquewhite ;
    display: flex;
    position: fixed;
    width: 99%;
    /* height: 70px; */
}
li{
    list-style-type: none;
    background-color: #F2F7FC ;
    padding: 6px;
    border-radius: 8px;
    margin-right: 8px;
}
a{
  padding: 4px 8px; 
  text-decoration: none;
  color: black;
  font-weight:800px;
}
.logo{
    width: 60px;
    height: 40px;
}
ul li{
    display: inline;
    justify-content: center;
}
.home-section{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    border-radius: 35px;
}
.myinfo{
     position: fixed;
     left: 2%;
     top: 20%;
    background-color:white ;
    margin-right: 40px;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    /* padding: 20px; */
}
.myName{
    margin-top: 60px;
}
.hello{
    background-color:white;
    width:800px ;
    height: 500px;
    margin-left: 90px;
    border-radius: 20px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form{ 
    margin-bottom: 6%;
    margin-left: 8px;
    padding-left: 30px;
    background-color:#F2F7FC ;
    height: 250px;
    width:255px ;
    border-radius: 20px;
}
.phone{
    margin-top:8px;
    padding-top: 10px;
    border-bottom: 40px;
    display: flex;
}
.Email{
    padding-top: 10px;
    margin-top:8px;
    display: flex;
}
.location{
    padding-top: 10px;
    margin-top:8px;
    display: flex;
}
.download{
    margin-left: 30px;
    margin-top:15px;
    margin-bottom: 10px;
    background-color: rgb(237, 178, 69);
    width: 100px;
    height: 25px;
    border-radius: 8px;
    padding-top: 6px;
    padding-left: 30px;
}
.amapro{
    margin-top: 50px;
    font-size: large;
}
svg{
    padding-right: 15px;
}
.myimg{
    margin-top: 60px;
}
.development{
    background-color:#FFEBD1;
    border-radius: 20px;
    width:250px ;
    height: 150px;
    padding: 30px;
    font-size: small;
}
.aboutMe{
    background-color: white;
    width:750px ;
    height: 750px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 30px;
}
.designing{
    background-color:#F2F7FC ;
    border-radius: 20px;
    width:250px ;
    height: 150px;
    padding: 30px;
    font-size:medium;
    margin-top: 40px;
}
.appdev{
    background-color:#F2F7FC ;
    border-radius: 20px;
    width:250px ;
    height: 150px;
    padding: 30px;
    font-size: small;
}
.SPA{
    background-color:#FFEBD1;
    border-radius: 20px;
    width:250px ;
    height: 150px;
    padding: 30px;
    font-size: medium;
    margin-top: 40px;
}
.whatido{
    display: flex;
    padding: 20px;
    justify-content:space-evenly;
}
button{
    border-radius: 4px;
    background-color: wheat;
    padding-right: 10px;
    margin-right: 8px;
    margin-top: 8px;
    height: 28px;
}
.skillspage{
    width:800px ;
    height: 500px;
    margin-left: 90px;
    border-radius: 30px;
    border: 1px solid yellowgreen;
}
.upper{
    background-color: white;
    display: flex;
    border-radius: 20px;
    justify-content: space-evenly;
}
.footer{
    background-color: #F2F7FC;
    display: flex;
    justify-content: space-evenly;
}
.card1{
    background-color:bisque;
    border-radius: 10px;
    padding: 10px;
}
.card2{
    background-color: #FFEBD1;
    border-radius: 10px;
    padding: 10px;
}

.iconparagraph{
    display: flex;
    gap: 12px;
}
.mentor{
    padding-top: 15px;
    width: 30px;
    height: 30px;
}