body{
    display: flex;
    justify-content: center;
    height:fit-content; 
    background-color: #F2F7FC;

}
.body{
    background-color: #F2F7FC ;
    height:fit-content; 
    flex-wrap: wrap;
}
.nav{
    background-color: antiquewhite ;
    display: flex;
    justify-content: center;
    padding:10px;
}
li{
    list-style-type: none;
    background-color: #F2F7FC ;
    padding: 6px;
    border-radius: 8px;
    margin-right: 8px;
}
a{
  padding: 4px 8px; 
  text-decoration: none;
  color: black;
  font-weight:800px;
}
.logo{
    width: 60px;
    height: 40px;
}
ul li{
    display: inline;
    justify-content: center;
}
.home-section{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    border-radius: 35px;
}
.myinfo{
    background-color:white ;
    margin-right: 40px;
    width: 300px;
    height: 450px;
    border-radius: 20px;
    padding: 20px;
}
.myName{
    margin-top: 60px;
}
.hello{
    background-color:white;
    width:600px ;
    border-radius: 20px;
    padding: 100px;
    display: flex;
}
.frontend{
    text-align: center;
}
.name{
    padding-left: 15px;
}
.form{ 
    margin-top: 70px;
    padding-left: 30px;
    background-color:#F2F7FC ;
    height: 250px;
    width:255px ;
    border-radius: 20px;
}
.phone{
    margin-top:8px;
    padding-top: 10px;
    border-bottom: 40px;
    display: flex;
}
.Email{
    padding-top: 10px;
    margin-top:8px;
    display: flex;
}
.location{
    padding-top: 10px;
    margin-top:8px;
    display: flex;
}
.download{
    margin-left: 30px;
    margin-top:15px;
    margin-bottom: 10px;
    background-color: rgb(237, 178, 69);
    width: 100px;
    height: 25px;
    border-radius: 8px;
    padding-top: 6px;
    padding-left: 30px;
}
.amapro{
    margin-top: 50px;
    font-size: large;
}
svg{
    padding-right: 15px;
}
.myimg{
    margin-top: 60px;
}
.development{
    background-color:#FFEBD1;
    border-radius: 20px;
    width:250px ;
    height: 150px;
    padding: 10px;
    font-size: small;
}
.aboutMe{
    background-color: white;
    width:600px ;
    border-radius: 20px;
    padding: 30px;
}
.designing{
    background-color:#F2F7FC ;
    border-radius: 20px;
    width:250px ;
    height: 150px;
    padding: 10px;
    font-size: small;
    margin-top: 15px;
}
.appdev{
    background-color:#F2F7FC ;
    border-radius: 20px;
    width:250px ;
    height: 150px;
    padding: 10px;
    font-size: small;
}
.SPA{
    background-color:#FFEBD1;
    border-radius: 20px;
    width:250px ;
    height: 150px;
    padding: 10px;
    font-size: small;
    margin-top: 15px;
}
.whatido{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
